/* Reset code */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style-type: none;
}

/* Header section designs */
header{
    width: 100%;
    height: 100vh;
    background-image: url("./images/Banner.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}
/* Navigation menu designs */
.navigation-menu{
    display: flex;
    justify-content: space-between;
    min-height: 70px;
    padding: 30px 50px;
}
.brand{
    z-index: 999;
}
.logo-img{
    width: 60px;
}
.nav-container{
    display:flex;
    gap: 50px;
    flex-direction: column;
    position: fixed;
    top: 0;
    left: 0;
    backdrop-filter: blur(10px);
    width: 100%;
    height: 100vh;
    text-align: center;
    padding-top: 120px;
    opacity: 1;
    transform: translateX(-100%);
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    z-index: 999;
}
.nav-item{
    list-style-type: none;
}
.nav-link{
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-family: 'Poppins', sans-serif;
    font-size: 25px;
}
.bar{
    width: 30px;
    height: 4px;
    background-color: white;
    display: block;
    margin: 7px auto;
    box-shadow: 0px 1px 5px black;
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
}
.hamburger{
    z-index: 999;
    cursor: pointer;
}
.nav-container.active{
    transform: translateX(0);
    opacity: 1;
}
.hamburger.active .bar:nth-child(2){
    opacity: 0;
}
.hamburger.active .bar:nth-child(1){
    transform: translateY(11px) rotate(45deg);
}
.hamburger.active .bar:nth-child(3){
    transform: translateY(-11px) rotate(-45deg);
}

/* Header content designs */
.header-content-container{
    width: 60%;
    color: white;
    position: absolute;
    left: 37%;
    top: 50%;
    transform: translate(-50%, -50%);
    margin-top: 30px;
}
.discount-banner{
    font-family: 'Archivo', sans-serif;
    font-size: 60px;
    padding: 30px 0px;
}
.discount-desc{
    font-family: 'Nunito', sans-serif;
    font-size: 20px;
    padding: 0px 0px 30px 0px;
}
.order-button{
    background-color: #f64b3c;
    width: 144px;
    height: 40px;
    border: none;
    border-radius: 50px;
    font-family: 'Montserrat', sans-serif;
    color: white;
    font-size: 16px;
    cursor: pointer;
    text-transform: uppercase;
}
.order-button:hover{
    transition: all 0.5s;
    transform: scale(1.1);
}


/* Our chef section designs */
#chef{
    background-image: url("./images/Stuff.jpg");
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    background-repeat: no-repeat;
    align-items: center;
    padding: 50px;
}
.chef-heading{
    font-family: 'Archivo', sans-serif;
    /* font-size: 63px; */
    font-size: 45px;
    color: #f64b3c;
    text-align: center;
    padding: 0px 0px 20px 0px;
}
.chef-desc{
    font-size: 16px;
    color: #f64b3c;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    text-align: center;
}
.chef-container{
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    height: 100%;
    align-items: center;
    flex-wrap: wrap;
    text-align: center;
    gap: 50px;
    margin-top: 50px;
}
.chef-name{
    font-family: 'Archivo', sans-serif;
    text-transform: uppercase;
    color: #f64b3c;
    padding: 10px 0px 15px 0px;
    font-size: 25px;
}
.chef-job-status{
    font-family: 'Nunito', sans-serif;
    font-size: 20px;
    color: #f64b3c;
}

/* Best burger section designs */
#bestBurger{
    background-color: #f64b3c;
    padding: 50px;
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
}
.best-burger-img{
   display:block;
   width: 400px;
}
.best-burger-heading{
    font-family: 'Archivo', sans-serif;
    color: white;
    font-size: 50px;
    padding: 60px 0px 20px 0px;
}
.best-burger-desc{
    font-family: 'Nunito', sans-serif;
    color: white;
    font-size: 20px;
    padding: 0px 0px 30px 0px;
}
.best-burger-order-button{
    font-family: 'Montserrat', sans-serif;
    width: 180px;
    height: 45px;
    border: none;
    text-transform: uppercase;
    font-weight: bold;
    color: #f64b3c;
    border-radius: 45px;
    cursor: pointer;
    transition: all 0.5s;
}
.best-burger-order-button:hover{
    transform: scale(1.1);
}

/* Big burger section designs */
#bigBurger{
    background-image: url("./images/Stuff.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 50px;
    display: flex;
    height: 100%;
    justify-content: space-between;
    flex-direction: column;
}
.big-burger-img{
    display:block;
    width: 400px;
 }
.big-burger-heading{
    font-family: 'Archivo', sans-serif;
    color: #f64b3c;
    font-size: 50px;
    padding: 60px 0px 20px 0px;
}
.big-burger-desc{
    font-family: 'Nunito', sans-serif;
    color:#f64b3c;
    font-size: 20px;
    padding: 0px 0px 30px 0px;
}
.big-burger-order-button{
    font-family: 'Montserrat', sans-serif;
    width: 180px;
    height: 45px;
    border: none;
    text-transform: uppercase;
    font-weight: bold;
    color: white;
    border-radius: 45px;
    cursor: pointer;
    transition: all 0.5s;
    background-color: #f64b3c;
}
.big-burger-order-button:hover{
    transform: scale(1.1);
}

/* Statistics section designs */
#statistics{
    background-color: #f64b3c;
    width: 100%;
    height: 100%;
    text-align: center;
    padding: 50px 80px;
}
.statistics-heading{
    font-family: 'Archivo', sans-serif;
    font-size: 40px;
    color: white;
    padding: 0px 0px 20px 0px;
}
.statistics-desc{
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    padding: 0px 0px 40px 0px;
}
.statistics-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 50px;
}
.statistic{
    width: 200px;
    height: 200px;
    border: 3px solid white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.statistic h1{
    font-family: 'Archivo', sans-serif;
    color: white;
    font-size: 60px;
}
.statistic p{
    font-family: 'Montserrat', sans-serif;
    color: white;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: bold;
}

/* package section designs */
#package{
    width: 100%;
    height: 100%;
    background-image: url("./images/burgerbgimg.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 50px;
}
.package-heading{
    font-family: 'Archivo', sans-serif;
    color:#f64b3c;
    text-align: center;
    font-size: 40px;
}
.package-container{
    display: flex;
    justify-content: center;
    gap: 50px;
    flex-wrap: wrap;
    margin-top: 60px;
}
.package{
    width: 200px;
    height: max-content;
    text-align: center;
    padding: 20px 10px;
    background-color: white;
}
.package h4{
    font-family: 'Archivo', sans-serif;
    text-transform: uppercase;
    color:#f64b3c;
    font-size: 20px;
    padding: 0px 0px 20px 0px;
}
.package img{
    width: 70px;
}
.package p{
    color:#f64b3c;
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    padding: 10px 0px 20px 0px;
}
.package button{
    width: 100%;
    height: 40px;
    border: none;
    border-radius: 50px;
    background-color: #f64b3c;
    color: white;
    font-family: 'Archivo', sans-serif;
    cursor: pointer;
    text-transform: uppercase;
}
.package button:hover{
    transition: all 0.5s;
    transform: scale(1.04);
}
.package h5{
    color: #f64b3c;
    font-family: 'Archivo', sans-serif;
    padding: 10px 0px 0px 0px;
    font-size: 20px;
}


/* Review section designs */
#review{
    background-image: url("./images/review-bg.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;
    position: relative;
}
.red-overlay{
    width: 100%;
    height: 100vh;
    background-color: rgba(220, 20, 60, 0.767);
    filter: saturate(150%);
    position: absolute;
    top:0;
    padding: 30px 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.red-overlay p{
    color: white;
    font-family: 'Archivo', sans-serif;
    font-size: 20px;
    text-align: center;
    padding: 0px 0px 50px 0px;
    line-height: 35px;
}
.red-overlay h3{
    color: white;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    font-size: 30px;
}


/* Newsletter section designs */
#newsletter{
   width: 100%;
   height: 100%;
   background-image: url("./images/burgerbgimg.jpg");
   background-size: cover;
   background-position: center;
   background-repeat: no-repeat;
   padding: 30px;
   text-align: center;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}
.newsletter-heading{
    font-family: 'Archivo', sans-serif;
    color:#f64b3c;
    font-size: 40px;
    padding: 10px 0px 30px 0px;
}
.newsletter-desc{
    color: #f64b3c;
    font-family: 'Nunito', sans-serif;
    padding: 0px 0px 50px 0px;
}
form{
    position: relative;
    width: 100%;
}
#email{
    width: 80%;
    padding: 12px 20px;
    border: none;
    border-radius: 50px;
    outline: none;
    
}
#submitButton{
    width: 20%;
    height: 40px;
    position: absolute;
    right: 50px;
    border:none;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    background-color: #f64b3c;
    color: white;
    cursor: pointer;
    font-family: 'Nunito', sans-serif;
    text-transform: uppercase;
}

/* Footer section designs */
footer{
    width: 100%;
    height: 100%;
    background-image: url("./images/footer.jpg");
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 50px;
}
.main-links{
    display: flex;
    align-items: center;
    gap: 60px;
}
.other-links{
    text-align: left;
    margin-top: 50px;
}
.link-heading{
    font-family: 'Archivo', sans-serif;
    font-size: 25px;
    padding: 0px 0px 20px 0px;
}
footer ul li{
    font-family: 'Nunito', sans-serif;
    margin: 8px 0px;
    cursor: pointer;
}
.title-desc{
    font-family: 'Nunito', sans-serif;
}
.footer-second-content-container{
    margin-top: 50px;
}
footer button{
    background-color: transparent;
    border: none;
    cursor: pointer;
    margin: 20px 10px;
}